<div class="card bg-light">
    <div class="card-body">
        <h5 class="card-title text-center">Agregar Cita</h5>
        <div class="text-center" *ngIf="formularioIncorrecto">
            <span class="badge bg-danger text-center">Todos los campos son obligatorios</span>
        </div>
        <div class="form-group mb-3">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" [(ngModel)]="nombre" class="form-control" placeholder="Ingrese su nombre">
        </div>
        <div class="form-group mb-3">
            <label for="Fecha">Fecha</label>
            <input type="date" id="fecha" [(ngModel)]="fecha" class="form-control">
        </div>
        <div class="form-group m-3">
            <label for="hora">Hora</label>
            <input type="time" id="hora" [(ngModel)]="hora" class="form-control">
        </div>
        <div class="form-group m-3">
            <label for="sintomas">Síntomas</label>
            <textarea id="sintomas" [(ngModel)]="sintomas" rows="4" class="form-control" placeholder="Ingrese los síntomas"></textarea>
        </div>
        <button style="width:100%;" (click)="AgregarCita()" class="btn btn-primary btn-block">Agregar Cita</button>
    </div>
</div>
